# ==========================================
# 1. CẤU HÌNH IDE (Môi trường cá nhân)
# ==========================================
### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.eclipse/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/

### VS Code & Khác ###
.vscode/
/nbproject/
/nbbuild/

# ==========================================
# 2. FILE BUILD & DỊCH (Maven)
# ==========================================
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
hs_err_pid*.log

# ==========================================
# 3. FILE HỆ THỐNG & LOG & TẠM
# ==========================================
.DS_Store
Thumbs.db
Desktop.ini
*.log
logs/
*.swp
*.bak
*~

# ==========================================
# 4. FILE MÔI TRƯỜNG (Bảo mật)
# ==========================================
.env
application-prod.yml